@font-face {
    font-family: Montserrat; /* Имя шрифта */
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Montserrat; /* Имя шрифта */
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.woff"); /* Путь к файлу со шрифтом */
}